<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="../static/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Kesintiler</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-map-marker-alt"></i>Adresler</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="list-addresses">Adres Listesi</a>
                        </li>
                        <li>
                            <a href="add-address">Adres Ekle</a>
                        </li>
                    </ul>
                </li>
                
                
            </ul>
        </nav>
    </div>
</aside>